#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#	
#		INCEPTION DOCKER COMPOSE FILE	
#
#++++++++++++++++++++++++++++++++++++++++++++++++++++++

name: inception

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress 
    expose:
      - "9000"
    restart: always
    networks:
      - inception

networks:
  inception:
    driver: bridge
