#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#	
#		INCEPTION DOCKER COMPOSE FILE	
#
#++++++++++++++++++++++++++++++++++++++++++++++++++++++

name: inception

services:
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      args:
        SSL_SUBJECT: ${SSL_SUBJECT}
    environment:
      DEBUG: "true"
    env_file:
      - ../.env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress 
    expose:
      - "9000"
    restart: always
    networks:
      - inception

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb 
    environment:
      DEBUG: "true"
    env_file:
      - ../.env
    expose:
      - "3306"
    restart: always
    networks:
      - inception
    volumes:
      - ../data/mariadb:/var/lib/mysql

networks:
  inception:
    driver: bridge
