#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#	
#		INCEPTION DOCKER COMPOSE FILE	
#
#++++++++++++++++++++++++++++++++++++++++++++++++++++++

name: inception

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "8080:80"
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress 
    expose:
      - "9000"
    volumes:
      - wordpress_data:/var/www/html
    restart: always

volumes:
  wordpress_data:
