/*
	Palette:
		
*/

:root{
	--neon_mag:	#ff48c4;
	--aqua_teal: #2bd1fc;
	--electric_yel: #f3ea5f;
	--pur: #c04df9;
	--ruby: #ff3f3f;
}

body{
	background-color: black;
}

h1{
	font-family: "Press Start 2P", system-ui;
	font-size: 80px;
	text-align: center;
	color: var(--neon_mag);
	text-shadow: -2px -2px 5px var(--aqua_teal);
	animation-name: glow;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes glow {
	0%{
		text-shadow: -2px -2px 20px var(--aqua_teal);
	}
	25%{
		text-shadow: -2px 2px 20px var(--pur);
	}
	50%{
		text-shadow: 2px 2px 20px var(--aqua_teal);
	}
	75%{
		text-shadow: 2px -2px 10px var(--pur);
	}
	100%{
		text-shadow: -2px -2px 10px var(--aqua_teal);
	}
}
p{
	font-family: "Press Start 2P", system-ui;
	font-size: 20px;
	color: var(--neon_mag);
	text-shadow: -2px -1px 5px var(--aqua_teal);
	margin-left: 100px;
}
strong{
	color: var(--aqua_teal);
	text-shadow: -2px -1px 5px var(--neon_mag);
}
a{
	text-decoration: none;
}

button{
	border: none;
	font-family: "Press Start 2P", system-ui;
	font-size: 50px;
	color: var(--ruby);
	background: var(--electric_yel);
	box-shadow: -5px -5px 5px var(--pur);
	margin-top: 100px;
	margin-left: auto;	
	margin-right: auto;	
	display: block;

	animation-name: fade_in;
	animation-duration: 7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}
button:hover{
	color: var(--neon_mag);
	text-shadow: -2px -2px 5px var(--aqua_teal);
	box-shadow: -5px -5px 5px var(--aqua_teal);
	border: none;
}
@keyframes fade_in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}




