.press_start{
	font-family: "Press Start 2P", system-ui;
}

body{
/*	background-image: url("portal.jpg"); */
	background-color: #2e6f40;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flow-root;
}

h1{
	color: #ffffe3;
	text-shadow: -5px -1px 20px tan, 1px 5px 10px pink;
	font-size: 70px;
	font-family: helvetica;
	text-align: center;
	padding: 10px;
	animation-name: pulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

h1:hover{
	box-shadow: 0px 0px 5px gold;
}

#box1{
	color: #2e6f40;
	width: 200px;
	height: 225px;
	background-color: ivory;
	box-shadow: -5px -1px 20px tan, 1px 5px 10px pink;
	font-size: 200px;
	text-align: center;

}

/*
@keyframes pulse{
	from{
		text-shadow: -15px -5px 30px tan, 15px 15px 30px pink;
	}
	to{
		text-shadow: 15px 5px 30px pink, -15px -15px 30px tan;
	}
}
*/
@keyframes pulse {

	from {
    text-shadow: 0 0 20px #ad5cad, 0 0 40px #800080;
	}

	to {
    text-shadow: 0 0 40px #800080, 0 10 60px #ad5cad;
	}
}

