.press_start{
	font-family: "Press Start 2P", system-ui;
}

body{
	background-image: url("portal.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flow-root;
}

h1{
	color: #ffffe3;
	text-shadow: -5px -1px 20px tan, 1px 5px 10px pink;;
	font-size: 70px;
	font-family: helvetica;
	text-align: center;
	padding: 10px;
}

h1:hover{
	box-shadow: 0px 0px 5px gold;
}

#box1{
	border: 4px solid;
	width: 250px;
	height: 250px;
	font-size: 200px;
	text-align: center;
	color: ivory;
	background-color: gold;
	transform: matrix(1, 0, 1, 1, 200, 100);
	/*
	matrix(
		scaleX(),
		skewY(),
		skewX(),
		scaleY(),
		translateX(),
		translateY()
	)
	*/
}
